@model IEnumerable<PatientService.Models.OutputModels.PatientOutputModel>

@{
    ViewData["Title"] = "Liste des Patients";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Date de Naissance</th>
            <th>Genre</th>
            <th>Adresse</th>
            <th>Téléphone</th>
            <Th>Ajouter une note</Th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var patient in Model)
        {
                <tr>
                    <td>@patient.Id</td>
                    <td>@patient.FirstName @patient.LastName</td>
                    <td>@patient.DateOfBirth.ToString("yyyy/MM/dd")</td>
                    <td>@patient.Gender</td>
                    <td>@patient.Address</td>
                    <td>@patient.PhoneNumber</td>
                        <td>
                        <a asp-action="Index" asp-controller="PatientsNotes" asp-route-patientId="@patient.Id" class="btn btn-primary">Voir les notes</a>
                    </td>
                        <td>
                        <a asp-action="Details" asp-route-id="@patient.Id">Détails</a> |
                        <a asp-action="Update" asp-route-id="@patient.Id">Modifier </a> |
                        <form asp-action="Delete" asp-route-id="@patient.Id" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-link">Supprimer</button>
                        </form>
                    </td>
                </tr>
        }
    </tbody>
</table>

<a asp-action="Ajout">Ajouter un nouveau patient</a>


