@model IEnumerable<PatientService.Models.OutputModels.PatientOutputModel>

@{
    ViewData["Title"] = "Liste des Patients";
}

<h1>@ViewData["Title"]</h1>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
       @*  Message  *@
        @TempData["SuccessMessage"]
    </div>
}

<table class="table">
    <thead>
        <tr class ="text-center">
            <th>ID</th>
            <th>Nom</th>
            <th>Date de Naissance</th>
            <th>Genre</th>
            <th>Adresse</th>
            <th>Téléphone</th>
            <th>Voir les notes</th>
            <th>Actions</th>
            <th>Risque</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var patient in Model)
        {
                <tr class="text-center">
                    <td>@patient.Id</td>
                    <td>@patient.FirstName @patient.LastName</td>
                    <td>@patient.DateOfBirth.ToString("yyyy/MM/dd")</td>
                    <td>@patient.Gender</td>
                    <td>@patient.Address</td>
                    <td>@patient.PhoneNumber</td>
                        <td>
                        <a asp-action="Index" asp-controller="PatientsNotes" asp-route-patientId="@patient.Id" class="btn btn-outline-info">Voir les notes</a>
                    </td>
                        <td>
                        <a asp-action="Details" asp-route-id="@patient.Id">Détails</a> |
                        <a asp-action="Update" asp-route-id="@patient.Id">Modifier </a> |
                    <a asp-action="ConfirmDelete" asp-route-id="@patient.Id">Supprimer</a>
                    </td>
                <td>
                    <a asp-action="GetRisk" asp-controller="PatientsRapportDiabete" asp-route-patientId="@patient.Id" class="btn btn-outline-warning">Voir le risque</a>
                    @ViewBag.RiskLevel</td>
                </tr>
        }
    </tbody>
</table>

<a asp-action="Ajout" class="btn btn-outline-success">Ajouter un nouveau patient</a>


